@use "~@bd-dm/ui/dist/styles/functions";
@use "~@bd-dm/ui/dist/styles/mixins";

.container {
	padding-top: functions.grid(5);
	gap: functions.grid(5);
}

.date {
	margin-left: functions.grid(4);
	@include mixins.themed("color", "accent-disabled");
}
